
.navbar {
  border-radius: 20px;
  border: none;
  margin: 40;
  background-color: #b0d8ed;
}
.navbar-header {
  padding-left: 16px;
}

.navbar-brand {
  height: auto;
  overflow: hidden;
  padding: 10px 0px 0px;
  height:90px !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #26a4d9;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}


.navbar {
  border-radius: 0px;
  border: none;
  margin: 0;
}

.navbar-nav {
  margin-top: 27px;
}

#footer {
  background-color: #b0d8ed;
  color: #ffffff;
    padding: 30px 0;
}

.text-underline {
  padding: 4px 0px 4px;
  border-bottom: 1px solid #26a4d9;
  text-align:center
}

.product{
  text-align:left;
  padding-left: 50px;
  padding-top: 50px;
}

.content-breather {
  padding-top: 100px;
  padding-bottom: 100px;
}


#sub-heading {
  background-color: #f9f9f9;
  color: #3b3b3b !important;
  content: "| ";
  padding: 0 5px;
}

.breadcrumb > li + li:before {
    color: #ccc;
    content: "| ";
    padding: 0 5px;
}

.container-fluid.no-gutter {
	padding: 0px;
}
.container-fluid.no-gutter .row [class*='col-']:not(:first-child),
.container-fluid.no-gutter .row [class*='col-']:not(:last-child)
{
  padding-right: 0;
  padding-left: 0;
}

.row {
   margin-left:0;
   margin-right:0;
}

.item { 
  border: none;
}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
  
  
/* responsive media queries */

@media (max-width: 768px) {
 
}


