<!DOCTYPE html>
     <head>
        <meta charset="utf-8">
       	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>API Client Application</title>
        
        <!-- Meta tags -->
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
			
            <link rel="stylesheet" href="{{asset('bundles/app/css/my_style.css')}}">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- Jquery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        {% block head %}{% endblock %}        
    </head>

    <body>

        <div > <!-- Start of global wrapper -->

            <!-- Header -->
            {% block page_header %}
                <p>The "page_header" block</p>
            {% endblock %}

            <!-- Content Start -->
            {% block page_content %}
                <p>The "page_content" block</p>
            {% endblock %}
            <!-- Content Ends -->

	    <br />

            <!-- Footer -->
            {% block page_footer %}
                <p>The "page_footer" block</p>
            {% endblock %}

            {% if not app.session.get('authenticated') %}
                <!-- begin:modal-sign-in -->
                <div class="modal fade" id="modal-sign-in" tabindex="-1" role="dialog" aria-labelledby="modal-sign-in" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <form role="form" id="form_sign_in" action="" method="POST">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Sign In</h4> </div>
                                <div class="modal-body">
                                    <p style="color:red" id="err_sign_in"></p>
                                    <div class="form-group">
                                        <div style="color: red; font-size: 12px; display: none" id="log_in_error_user">Invalid Username or Password.</div>
                                        <input type='text' id='log_in_email' name='email' class='form-control' placeholder='Email address' />
                                    </div>
                                    <div class="form-group">
                                        <input type='password' id='log_in_password' name='password' class='form-control' placeholder='Password' />
                                    </div>
                                </div>
                                <div class="modal-footer  text-left">
                                        <input type='submit' name='email' class='btn branding-background btn-block btn-lg' value='Sign In' />
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- begin:modal-signup -->
                <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <form role="form" id="form_register" action="" method="POST">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Register</h4> </div>
                                <div class="modal-body">
                                    <p style="color:red; display: none; font-size: 11px" id="err_register"></p>
                                    <div class="row form-group">
                                        <div class="col-md-6">
                                            <input type='text' id='first_name' name='first_name' class='form-control' placeholder='First Name' />
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' id='last_name' name='last_name' class='form-control' placeholder='Last Name' />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div style="color: red; font-size: 12px; display: none" id="error_user">User already exists.</div>
                                        <input type='text' id='email' name='email' class='form-control' placeholder='Email address' />
                                    </div>
                                    <div class="form-group">
                                        <input type='password' id='password' name='password' class='form-control' placeholder='Password' />
                                    </div>
                                    <div class="form-group">
                                        <input type='password' id='password_confirm' name='password_confirm' class='form-control' placeholder='Confirm Password' />
                                    </div>
                                </div>
                                <div class="modal-footer text-left">
                                        <input type='submit' class='btn branding-background btn-block btn-lg' value='Register' />
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

<script>

$(document).ready(function () {
    $('#form_sign_in').on('submit', function (e) {
        //e.stopPropagation();
        $.ajax({
            type: "POST",
            url: '{{path('app_sign_in')}}',
            data: 
            { email:$('#log_in_email').val(), 
              password: $('#log_in_password').val()
            },
            success: function (data)
            {
                var returnData = JSON.parse(data);
                if (returnData['success']=='false'){ 
                    $('#log_in_error_user').show();
                }else
                    window.location.href = returnData['url'];
            }
        });
        return false;
    });

    $('#form_register').on('submit', function (e) {
        if($('#password').val() != $('#password_confirm').val()){
            alert('Passwords should be same.');
            e.stopPropagation();
            return false;
        }
        $.ajax({
            type: "POST",
            url: '{{path('app_register')}}',
            data: 
            { email:$('#email').val(), 
              password: $('#password').val(), 
              first_name:$('#first_name').val(), 
              last_name:$('#last_name').val() 
            },
            success: function (data)
            {
                var returnData = JSON.parse(data);
                //console.log(returnData);
                if (returnData['success']=='false'){ 
                    $('#error_user').show();
                }else
                    window.location.href = returnData['url'];
            }
        });
        return false;
    });

});
</script>
            {% endif %}

        </div> <!-- End of main container element -->


       {% block javascripts %}{% endblock %}

    </body>
</html>

